body {
	/*padding-left: 20em;*/
    color: blue;
    font-family: Georgia;
	}

ul.navbar {
	list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 2em;
    left: 1em;
    width: 12em }

h1 {
    font-family: Helvetica;
	text-align: center;}

ul.navbar li {
    background: lightgrey;
    margin: 0.5em;
    padding: 0.3em;
}

ul.navbar a {
    text-decoration: none }
a:link {
    color: blue }
a:visited {
    color: purple }

IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto }